- stage: Test
  displayName: 'Testing Stage'
  dependsOn: Build
  jobs:
  - job: BackendTests
    displayName: 'Backend Unit and Integration Tests'
    steps:
    - script: |
        python -m pytest tests/ --junitxml=test-results.xml --cov=app --cov-report=xml
      displayName: 'Run Python tests with coverage'
    
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'test-results.xml'
        mergeTestResults: true
      displayName: 'Publish test results'
    
    - task: PublishCodeCoverageResults@1
      inputs:
        codeCoverageTool: 'Cobertura'
        summaryFileLocation: 'coverage.xml'

  - job: FrontendTests
    displayName: 'Frontend Component Tests'
    steps:
    - script: |
        npm test -- --coverage --watchAll=false --testResultsProcessor=jest-junit
      displayName: 'Run Expo tests'
    
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'junit.xml'